<footer>
        <nav class="round">
          <ul>
            <li><%= link_to "Does", '#' %></li>
            <li><%= link_to "not", '#' %></li>
            <li><%= link_to "work", '#' %></li>
          </ul>
        </nav>
</footer>
