      <header>
          <% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %>
          <%= link_to logo, root_path %>
        <nav class="round">
          <ul>
            <li><%= link_to "Root", rootpage_path %></li>
            <li><%= link_to "Talktome", talktome_path %></li>
            <li><%= link_to "WhoamiSignin", whoami_path %></li>
          </ul>
        </nav>
      </header>
